In [2]:
import pandas as pd
from pandasql import sqldf

In [3]:
df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429435 entries, 0 to 429434
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    429435 non-null  object
 1   continent                                   402910 non-null  object
 2   location                                    429435 non-null  object
 3   date                                        429435 non-null  object
 4   total_cases                                 411804 non-null  float64
 5   new_cases                                   410159 non-null  float64
 6   new_cases_smoothed                          408929 non-null  float64
 7   total_deaths                                411804 non-null  float64
 8   new_deaths                                  410608 non-null  float64
 9   new_deaths_smoothed                         409378 non-null  float64
 10  total_cases_per_million                     411804 non-null  float64
 11  new_cases_per_million                       410159 non-null  float64
 12  new_cases_smoothed_per_million              408929 non-null  float64
 13  total_deaths_per_million                    411804 non-null  float64
 14  new_deaths_per_million                      410608 non-null  float64
 15  new_deaths_smoothed_per_million             409378 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                39116 non-null   float64
 18  icu_patients_per_million                    39116 non-null   float64
 19  hosp_patients                               40656 non-null   float64
 20  hosp_patients_per_million                   40656 non-null   float64
 21  weekly_icu_admissions                       10993 non-null   float64
 22  weekly_icu_admissions_per_million           10993 non-null   float64
 23  weekly_hosp_admissions                      24497 non-null   float64
 24  weekly_hosp_admissions_per_million          24497 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          85417 non-null   float64
 35  people_vaccinated                           81132 non-null   float64
 36  people_fully_vaccinated                     78061 non-null   float64
 37  total_boosters                              53600 non-null   float64
 38  new_vaccinations                            70971 non-null   float64
 39  new_vaccinations_smoothed                   195029 non-null  float64
 40  total_vaccinations_per_hundred              85417 non-null   float64
 41  people_vaccinated_per_hundred               81132 non-null   float64
 42  people_fully_vaccinated_per_hundred         78061 non-null   float64
 43  total_boosters_per_hundred                  53600 non-null   float64
 44  new_vaccinations_smoothed_per_million       195029 non-null  float64
 45  new_people_vaccinated_smoothed              192177 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  192177 non-null  float64
 47  stringency_index                            196190 non-null  float64
 48  population_density                          360492 non-null  float64
 49  median_age                                  334663 non-null  float64
 50  aged_65_older                               323270 non-null  float64
 51  aged_70_older                               331315 non-null  float64
 52  gdp_per_capita                              328292 non-null  float64
 53  extreme_poverty                             211996 non-null  float64
 54  cardiovasc_death_rate                       328865 non-null  float64
 55  diabetes_prevalence                         345911 non-null  float64
 56  female_smokers                              247165 non-null  float64
 57  male_smokers                                243817 non-null  float64
 58  handwashing_facilities                      161741 non-null  float64
 59  hospital_beds_per_thousand                  290689 non-null  float64
 60  life_expectancy                             390299 non-null  float64
 61  human_development_index                     319127 non-null  float64
 62  population                                  429435 non-null  int64
 63  excess_mortality_cumulative_absolute        13411 non-null   float64
 64  excess_mortality_cumulative                 13411 non-null   float64
 65  excess_mortality                            13411 non-null   float64
 66  excess_mortality_cumulative_per_million     13411 non-null   float64
dtypes: float64(61), int64(1), object(5)
memory usage: 219.5+ MB

In [3]:
df.sample(12)

        iso_code  ... excess_mortality_cumulative_per_million
16368        ARG  ...                                     NaN
273331       NER  ...                                     NaN
270742       NIC  ...                                     NaN
293936       PLW  ...                                     NaN
237269       MTQ  ...                                     NaN
3639         ALB  ...                                     NaN
40093        BEN  ...                                     NaN
164458  OWID_HIC  ...                                     NaN
358371  OWID_SAM  ...                                     NaN
359468       KOR  ...                                     NaN
149034       GRD  ...                                     NaN
372847       SYR  ...                                     NaN

[12 rows x 67 columns]

In [4]:
# Query más sencilla Seleccionar la tabla y mostrar los datos
# Seleccionar todas las columnas de la tabla df sólo muestra las 10 primeras
sqldf("SELECT * FROM df LIMIT 10")

  iso_code continent  ... excess_mortality excess_mortality_cumulative_per_million
0      AFG      Asia  ...             None                                    None
1      AFG      Asia  ...             None                                    None
2      AFG      Asia  ...             None                                    None
3      AFG      Asia  ...             None                                    None
4      AFG      Asia  ...             None                                    None
5      AFG      Asia  ...             None                                    None
6      AFG      Asia  ...             None                                    None
7      AFG      Asia  ...             None                                    None
8      AFG      Asia  ...             None                                    None
9      AFG      Asia  ...             None                                    None

[10 rows x 67 columns]

In [5]:
sqldf("SELECT * FROM df WHERE location= 'Peru' LIMIT 10")

  iso_code  ... excess_mortality_cumulative_per_million
0      PER  ...                                1.831570
1      PER  ...                                     NaN
2      PER  ...                                     NaN
3      PER  ...                                     NaN
4      PER  ...                                     NaN
5      PER  ...                                     NaN
6      PER  ...                                     NaN
7      PER  ...                               -0.348298
8      PER  ...                                     NaN
9      PER  ...                                     NaN

[10 rows x 67 columns]

In [4]:
sqldf("SELECT * FROM df WHERE location= 'Peru' AND date= '2020-07-01' LIMIT 10")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,PER,South America,Peru,2020-07-01,272364.0,0.0,3491.286,35912.0,0.0,556.0,...,None,None,1.6,76.74,0.777,34049588,None,None,None,None

In [5]:
sqldf("SELECT * FROM df WHERE location= 'Peru' AND date>= '2020-07-01' AND date<= '2020-07-10'  LIMIT 10")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,PER,South America,Peru,2020-07-01,272364.0,0.0,3491.286,35912.0,0.0,556.000,...,None,None,1.6,76.74,0.777,34049588,NaN,NaN,NaN,NaN
1,PER,South America,Peru,2020-07-02,272364.0,0.0,3491.286,35912.0,0.0,556.000,...,None,None,1.6,76.74,0.777,34049588,NaN,NaN,NaN,NaN
2,PER,South America,Peru,2020-07-03,272364.0,0.0,3491.286,35912.0,0.0,556.000,...,None,None,1.6,76.74,0.777,34049588,NaN,NaN,NaN,NaN
3,PER,South America,Peru,2020-07-04,272364.0,0.0,3491.286,35912.0,0.0,556.000,...,None,None,1.6,76.74,0.777,34049588,NaN,NaN,NaN,NaN
4,PER,South America,Peru,2020-07-05,295599.0,23235.0,3319.286,39637.0,3725.0,532.143,...,None,None,1.6,76.74,0.777,34049588,37898.305,47.0,111.94,1137.9243
5,PER,South America,Peru,2020-07-06,295599.0,0.0,3319.286,39637.0,0.0,532.143,...,None,None,1.6,76.74,0.777,34049588,NaN,NaN,NaN,NaN
6,PER,South America,Peru,2020-07-07,295599.0,0.0,3319.286,39637.0,0.0,532.143,...,None,None,1.6,76.74,0.777,34049588,NaN,NaN,NaN,NaN
7,PER,South America,Peru,2020-07-08,295599.0,0.0,3319.286,39637.0,0.0,532.143,...,None,None,1.6,76.74,0.777,34049588,NaN,NaN,NaN,NaN
8,PER,South America,Peru,2020-07-09,295599.0,0.0,3319.286,39637.0,0.0,532.143,...,None,None,1.6,76.74,0.777,34049588,NaN,NaN,NaN,NaN
9,PER,South America,Peru,2020-07-10,295599.0,0.0,3319.286,39637.0,0.0,532.143,...,None,None,1.6,76.74,0.777,34049588,NaN,NaN,NaN,NaN

In [6]:
# seleccionar 4 columnas location, 
sqldf("SELECT location, date, total_cases, total_deaths  FROM df WHERE location= 'Peru' AND date>= '2020-07-01' AND date<= '2020-07-10'  LIMIT 10")

  location        date  total_cases  total_deaths
0     Peru  2020-07-01     272364.0       35912.0
1     Peru  2020-07-02     272364.0       35912.0
2     Peru  2020-07-03     272364.0       35912.0
3     Peru  2020-07-04     272364.0       35912.0
4     Peru  2020-07-05     295599.0       39637.0
5     Peru  2020-07-06     295599.0       39637.0
6     Peru  2020-07-07     295599.0       39637.0
7     Peru  2020-07-08     295599.0       39637.0
8     Peru  2020-07-09     295599.0       39637.0
9     Peru  2020-07-10     295599.0       39637.0

In [7]:
sqldf("SELECT DISTINCT location FROM df LIMIT 10 ")

              location
0          Afghanistan
1               Africa
2              Albania
3              Algeria
4       American Samoa
5              Andorra
6               Angola
7             Anguilla
8  Antigua and Barbuda
9            Argentina

In [9]:
sqldf("SELECT DISTINCT location FROM df ORDER BY location DESC LIMIT 30 ")

                         location
0                        Zimbabwe
1                          Zambia
2                           Yemen
3                           World
4                  Western Sahara
5               Wallis and Futuna
6                           Wales
7                         Vietnam
8                       Venezuela
9                         Vatican
10                        Vanuatu
11                     Uzbekistan
12                        Uruguay
13  Upper-middle-income countries
14   United States Virgin Islands
15                  United States
16                 United Kingdom
17           United Arab Emirates
18                        Ukraine
19                         Uganda
20                         Tuvalu
21       Turks and Caicos Islands
22                   Turkmenistan
23                         Turkey
24                        Tunisia
25            Trinidad and Tobago
26                          Tonga
27                        Tokelau
28                           Togo
29                       Thailand

In [11]:
# Sumar muertes nuevas de Perú si total_deaths no existiera
sqldf("SELECT SUM(new_deaths) FROM df WHERE location= 'Peru' LIMIT 10")

   SUM(new_deaths)
0         220975.0

In [12]:
# Método simplón 
sqldf("SELECT MAX(population) FROM df WHERE location= 'Peru' LIMIT 10")

   MAX(population)
0         34049588

In [13]:

sqldf("SELECT MAX(population) FROM df WHERE location= 'World' LIMIT 10")

   MAX(population)
0       7975105024

In [14]:
sqldf("SELECT SUM(new_deaths) FROM df WHERE location= 'World' LIMIT 10")

   SUM(new_deaths)
0        7060988.0

In [15]:
# Método sofisticado
sqldf("SELECT SUM(new_deaths), MAX(population) FROM df WHERE location= 'World' LIMIT 10")

   SUM(new_deaths)  MAX(population)
0        7060988.0       7975105024

In [16]:
sqldf("SELECT SUM(new_deaths) AS deaths, MAX(population) AS population FROM df WHERE location= 'Peru' LIMIT 10")

     deaths  population
0  220975.0    34049588

In [19]:
sqldf("SELECT SUM(new_deaths)/MAX(population) AS ratio  FROM df WHERE location= 'Peru' LIMIT 10")

     ratio
0  0.00649

In [21]:
sqldf("SELECT SUM(new_deaths)/MAX(population) AS ratio  FROM df WHERE location= 'World' LIMIT 10")

      ratio
0  0.000885

In [22]:
sqldf("SELECT (SUM(new_deaths)/MAX(population))*100 AS ratio_percent  FROM df WHERE location= 'World' LIMIT 10")

   ratio_percent
0       0.088538